.data_not_found {
    display: block;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 20px;
    color: #333;
    text-transform: capitalize;
    text-align: center;
    border: 2px solid #eee;
}

input[type=text],
textarea,
select {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
input.text:focus, 
input.title:focus, 
input[type=text]:focus, 
select:focus, 
textarea:focus {
  border-color: #00573d;
}

.filter-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 30px;    
}
.filter-container select {
    max-width: 280px;
}
.type-taxonomy {
    flex: inherit;
}
.type-taxonomy ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}
.type-taxonomy ul li {
    flex: inherit;
    min-width: 140px;
}
.type-taxonomy ul li a {    
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #1cad75;
    border: 1px solid #1cad75;
    background-color: #e9fbf4;
    border-radius: 8px;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: 0.3s linear all;
}
.type-taxonomy ul li a:focus,
.type-taxonomy ul li a:hover {
    color: #fff;
    background-color: #00573d;
    border-color: #00573d;
}

.map-container {    
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f5f5f5;
}
.mepr-account-container .map-container a {
    color: #fff;
    text-decoration: none !important;
}
.mepr-account-container .map-container a:hover, 
.mepr-account-container .map-container a:active {
    text-decoration: underline !important;
}
.mepr-account-container .map-container .country-name {
    padding-bottom: 0 !important;
    margin-bottom: 0;
}
.mepr-account-container .map-container .country-name span {
    margin-left: auto;
}
.mepr-account-container .map-container .remove-tooltip {
    display: inline-block;
    width: 22px;
    padding: 0 !important;
    border: none;
    color: #fff !important;
    background-color: transparent !important;
}
.mepr-account-container .map-container .remove-tooltip i {
    font-style: normal !important;
}